/********************************************
* CSS Styles for Sample Bootstrap Page
* https://bootcamp-coders.cnm.edu
*
* @author rlewis37@cnm.edu
*
* RESPONSIVE BREAKPOINTS
* =======================
* xs: <= 767px
* sm: 768px - 991px
* md: 992px - 1199px
* lg: >= 1200px
*
********************************************/

/********************************************
* Utility Styles
********************************************/
.flex {
	display: flex;
	margin-top: 20px;
}

.flex-item {
	background-color: #ddd;
	margin: 0 10px;
}

.flex-item > p {
	padding: 10px 5px;
}

/********************************************
* Header Styles
********************************************/
header {
	background-color: #ddd;
	padding: 20px 0;
	margin-bottom: 30px;
}

header h1 {
	display: inline-block;
	margin: 0;
}

/********************************************
* Main Styles
********************************************/
.welcome {
	padding: 20px;
	background-color: #ddd;
	margin-bottom: 40px;
}

.welcome h2 {
	margin: 0;
}

/********************************************
* Footer Styles
********************************************/
footer {
	background-color: #000;
	color: #fff;
	margin-top: 30px;
	padding: 20px 0 10px 0;
}

/***
* Flexbox Sticky Footer
* http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
***/

/*corrects IE min-height bug*/
html { display: flex;}
body { width: 100%;}

.sfooter {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.sfooter-content {
	flex: 1 0 auto;
}